<body>
    <h1>Session 5!</h1>
    <h1>Hello {{ username }}!</h1>
    <ul>{% for output_json in output_jsons %}

        <li>
            <a href="{{output_json.html_url}}"> {{output_json.full_name}} </a> last updated on {{output_json.updated_at}}
            <ul>
                <li>Commit hash = {{output_json.sha}}</li>
                <li>Author = {{output_json.author}}</li>
                <li>Commit message = {{output_json.message}}</li>
            </ul>
        </li>

        {% endfor %}
    </ul>
</body>
